* {
  margin: 0;
  padding: 0;
}
.header {
  background-image: url("together.jpg");
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
}
.navbar-style {
  box-shadow: 0 5px 10px grey;
  text-transform: uppercase;
  height: 150px;
}

.logo {
  height: 120px;
  padding: 2px 10px;
}
.icon-bar {
  background: purple;
}

nav li span {
  padding: 5px;
}

/* navigation bar color */
li a {
  color: purple;
  padding: 5px;
  background-color: white;
}

.cart ion-icon {
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}

.cart a {
  background-color: purple;
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}

.image {
  margin-right: 50px;
  margin-left: 50px;
  position: relative;
  overflow: visible;
}
.text {
  font-size: 20px;
  padding-left: 10px;
  margin-top: 0.5em;
  margin-left: 3em;
}
a.add-cart {
  margin: 30px 10px;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
}

.cart {
  background-color: purple;
  color: yellow;
}

/*  <!--footer containt--> */

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h6 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: rgb(69, 48, 184);
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: rgb(23, 82, 33);
}
.footer-bottom {
  background: #2e1c35;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 4;
  font-weight: 100;
}

/* Footer *****************************/
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h6 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: rgb(69, 48, 184);
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: rgb(23, 82, 33);
}
.footer-bottom {
  background: #2e1c35;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 4;
  font-weight: 100;
}

footer {
  text-align: center;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  background: #2e1c35;
  height: auto;
  width: 100vw;
  font-family: "open sans";
  padding-top: 40px;
  color: #4124ad;
}
